<%= form_with(model: quote) do |form| %>

  <% if quote.errors.any? %>
    <div style="color: red">
      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :name %>

    <%= form.submit %>

<% end %>
