<% if quote.errors.any? %>
  <% quote.errors.each do |error| %>
    <div class="container_error">
      <%= error.full_message %>
    </div>
  <% end %>
<% end %>

<div>
  <%= form_with(model: quote) do |form| %>
    <%= form.text_field :name %>
    <%= form.submit %>
  <% end %>
</div>
