<h1>Quotes</h1>
  
<div class="container_new">
  <!-- ■■■■■■■■■■turbo該当箇所■■■■■■■■■■ -->
  <%= turbo_frame_tag "new_quote" do %>
      <%= render "form", quote: @quote %>
  <% end %>
</div>

<!-- ■■■■■■■■■■turbo該当箇所■■■■■■■■■■ -->
<%= turbo_frame_tag "quotes" do %>
  <%= render @quotes %>
<% end %>
